html {
  font-size: 16px;
}


body {
  position: relative;
  margin: 1rem;
}

header {
  z-index: 10;
  position: fixed;
  inset: 0;
  height: 100px;
  border: 1rem solid white;
  color: white;
  background: crimson;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

main {
  position: relative;
}

div {
  height: 400px;
  color: white;
  background: royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150vh;
}

div::after {
  content: attr(id);
  font-size: 3rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}

